@media screen and (max-width: 1414px) {
    .promo-video {
        width: auto;
        height: 100%;
        z-index: -100;
    }
}
@media screen and (max-width: 1170px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .consist-product-image img {
        max-width: 240px;
        margin-bottom: 30px;
    }
    .promotion-feature {
        width: 250px;
        margin-left: 20px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1020px) {
    .consist-info {
        display: flex;
        justify-content: center;
    }
    .consist-product {
        display: none;
    }
    .consist-product.mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .consist-items {
        margin: 0 12px 25px 12px;
    }
    .consist-button {
        display: none;
    }
    .consist-button.mobile {
        display: inline-block;
    }

    .promotion-info {
        display: flex;
        flex-direction: column-reverse;
    }
    .promotion-image img {
        width: 450px;
        margin-bottom: 30px;
    }
    .promotion-text {
        max-width: 700px;
        margin-right: 0;
        text-align: center;
    }
    .promotion-text div {
        margin-bottom: 30px;
    }
    .promotion-features ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        justify-items: center;
    }
    .promotion-feature {
        display: flex;
        flex-direction: column;
        width: 310px;
        margin-left: 20px;
        margin-bottom: 50px;
        cursor: default;
    }
    .promotion-feature:last-child {
        margin-bottom: 0;
    }

}

@media screen and (max-width: 830px) {
    .swiper {
        padding: 20px 10px 25px 10px;
        max-width: 600px;
        background: rgba(248, 248, 248, 0.5);
        border-radius: 10px;
    }
    .reviews-image {
        width: 450px;
        height: 250px;
    }
    .reviews-name {
        font-size: 25px;
        margin-bottom: 0;
    }
    .reviews-text {
        max-width: 450px;
        font-size: 13px;
    }
    .order-product {
        margin-right: 50px;
    }
}

@media screen and (max-width: 768px) {
    .promo-title {
        margin: 0 auto 30px auto;
        max-width: 500px;
        font-family: MontserratBold, sans-serif;
        font-size: 35px;
        color: #23092a;
        text-align: center;
    }
    .promo-info {
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        z-index: 50;
    }
    .promo-image img {
        width: 240px;
        margin-bottom: 15px;
    }
    .promo-features ul {
        text-align: start;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    .promo-feature {
        margin-bottom: 40px;
    }
    .promo-feature:last-child {
        margin-bottom: 0;
    }
    .consist-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .consist-items, .consist-item {
        margin: 0;
    }
    .consist-item {
        margin-bottom: 25px;
    }
    .consist-button {
        width: 300px;
    }
}

@media screen and (max-width: 650px) {
    .swiper {
        max-width: 500px;
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
        color: #5a2c61;
    }
    .reviews-image {
        width: 400px;
        height: 200px;
    }
    .reviews-name {
        font-size: 20px;
    }
    .reviews-text {
        font-size: 12px;
        max-width: 400px;
    }

    .promotion-image img {
        max-width: 400px;
    }

    .order-title {
        font-family: MontserratBold, sans-serif;
        font-size: 35px;
        color: #23092a;
        text-align: center;
        margin-bottom: 30px;
    }

    .order-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .order-product {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .order-image img {
        max-width: 240px;
    }
    .order-form {
        width: 100%;
        padding-left: 60px;
        padding-right: 60px;
    }
    .form-title {
        font-family: MontserratBold, sans-serif;
        font-size: 30px;
        color: #23092a;
        text-align: center;
        margin-bottom: 30px;
    }
    .form-input {
        width: 100%;
        height: 60px;
        font-size: 15px;
        color: #44144b;
        border: 1px solid #44144b;
        background: transparent;
        border-radius: 30px;
        outline: none;
    }
    .form-input::placeholder {
        font-family: MontserratRegular,sans-serif;
        font-size: 14px;
        color: rgba(68, 20, 75, 0.91);
    }
    .order-form label {
        position: relative;
        display: block;
        margin-bottom: 20px;
    }
    .help-input {
        display: none;
        position: absolute;
        top: 4px;
        right: 30px;
        font-family: MontserratBold, sans-serif;
        font-size: 10px;
        color: rgba(35, 35, 35, 0.5);
        margin-left: 30px;
        margin-bottom: 2px;
    }
    .error-input {
        display: none;
        position: absolute;
        top: -13px;
        left: 0;
        font-family: MontserratBold, sans-serif;
        font-size: 10px;
        color: rgb(175, 7, 7);
        margin-left: 30px;
        margin-bottom: 2px;
    }
    .order-button {
        margin-top: 10px;
        width: 100%;
    }
}

@media screen and (max-width: 519px) {
    .swiper {
        max-width: 100%;
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
        display: none;
    }
    .reviews-image {
        max-width: 500px;
        height: 200px;
    }
    .reviews-name {
        font-size: 20px;
    }
    .reviews-text {
        font-size: 12px;
        max-width: 100%;
    }
    .order-form {
        padding: 0;
    }
}

@media screen and (max-width: 470px) {
    .consist-product-image img {
        max-width: 200px;
    }
    .consist-item {
        width: 250px;
    }
    .consist-button {
        width: 250px;
    }
    .swiper {
        max-width: 400px;
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
        display: none;
    }
    .reviews-image {
        max-width: 320px;
        height: 200px;
    }
    .reviews-name {
        font-size: 20px;
    }
    .reviews-text {
        font-size: 12px;
        max-width: 100%;
    }
    .order-image img {
        max-width: 230px;
    }
}

@media screen and (max-width: 420px) {
    .swiper {
        max-width: 315px;
    }
    .reviews-image {
        max-width: 250px;
        height: 200px;
    }

    .promotion-image img {
        max-width: 300px;
    }
    .promotion-feature {
        display: flex;
        flex-direction: column;
        width: 250px;
        margin-left: 20px;
        margin-bottom: 50px;
        cursor: default;
    }
}